form.comments-form.form-inline(method='post', action='/entities/#{entity_id}/comments/')
	div.row-fluid
		textarea.span10(name='comment[text]', rows=1, placeholder="comment")
		input.btn.close(type="submit", value="+")