if typeof(entity) !== 'undefined'
	p
		label Name
		input(name='entity[name]', value='#{entity.name}', type="text")
	p
		label Description
		textarea(name='entity[description]')
			|#{entity.description}
	div.alert-info
		h4 Link
		p
			label Label
			input(name='entity[link][label]', type="text", value='#{entity.link.label}')
		p
			label URL
			input(name='entity[link][url]', type="text", value='#{entity.link.url}')
else
	p
		label Name
		input(name='entity[name]', type="text")
	p
		label Description
		textarea(name='entity[description]')
	div.alert-info
		h4 Link
		p
			label Label
			input(name='entity[link][label]', type="text")
		p
			label URL
			input(name='entity[link][url]', type="text")

input.btn.btn-primary(type="submit", value="Save")