if typeof(entity) !== 'undefined'
	p
		label Name
		input(name='entity[name]', value='#{entity.name}')
	p
		label Description
		textarea(name='entity[description]')
			|#{entity.description}
else
	p
		label Name
		input(name='entity[name]')
	p
		label Description
		textarea(name='entity[description]')



if typeof(entity) !== 'undefined'

	p
		select(name="entity[status]", data-selected="#{entity.status}")
			option(value="red") Red: Alarm! Don't get close!!1
			option(value="yellow") Yellow: Warning! Ask before touch!
			option(value="green") Green: Everything is fine

input(type="submit", value="Save")