if typeof(entity) !== 'undefined'
	p
		label Name
		input(name='entity[name]', value='#{entity.name}', type="text")
	p
		label Description
		textarea(name='entity[description]')
			|#{entity.description}
else
	p
		label Name
		input(name='entity[name]', type="text")
	p
		label Description
		textarea(name='entity[description]')

input.btn.btn-primary(type="submit", value="Save")