if typeof(entity) !== 'undefined'
	p
		label Name
		input(name='entity[name]', value='#{entity.name}')
	p
		label Description
		textarea(name='entity[description]')
			|#{entity.description}
else
	p
		label Name
		input(name='entity[name]')
	p
		label Description
		textarea(name='entity[description]')



if typeof(entity) !== 'undefined'

	p
		include _statuses

input(type="submit", value="Save")