select.span2(name="entity[status]", data-selected="#{entity.status}")
	option.btn.btn-success(value="green",	selected=entity.status === 'green') green
	option(value="yellow",	selected=entity.status === 'yellow') yellow
	option(value="red",		selected=entity.status === 'red') red
