select(name="entity[status]", data-selected="#{entity.status}")
	option(value="green") green: everything is fine
	option(value="yellow") yellow: warning! ask before touch!
	option(value="red") red: alarm! don't get close!!1
