extends ../layout.html

block content
	h1
		a(href='/entities') Entities
		a.btn.btn-primary(href='/entities/new') New

	div.row-fluid
		div.entities.data-container.thumbnails
			each entity in entities
				div.span4
					div.entity.data-container.thumbnail(data-action="/entities/#{entity.id}")

