extends ../layout.html

block content

	div.row-fluid
		div.entities.data-container.thumbnails
			each entity in entities
				div.span4
					div.entity.data-container.thumbnail(id="entity#{entity.id}",data-action="/entities/#{entity.id}")

