extends ../layout.html

block content
	h2 #{entity.name}
	p
		label Description:
		|#{entity.description}
	p
		label Status:
		|#{entity.status}

	div.comments-container

	script
		$('.comments-container').on('update',function(){
			$comments = $(this);

			$.ajax({
				url: location.href.match(/\/entities\/[\w]+/)[0]+'/comments/',
				dataType: 'html',
				}).success(function(data){
					$comments.html(data);
				});
		});

		$('.comments-container').trigger('update');

		$('body').on('submit','.comments-form',function(){
			event.preventDefault();

			var $form = $(this),
				$container = $form.closest('.comments-container'),
				postData = $form.serialize(),
				postUrl = $form.attr('action');

			$.post(postUrl, postData).success(function(){
				$container.trigger('update');
			});
		});

		$('body').on('submit','.button_to.delete',function(){
			event.preventDefault();

			var $form = $(this),
				$container = $form.closest('.comments-container'),
				postData = $form.serialize(),
				postUrl = $form.attr('action');

			$.post(postUrl, postData).success(function(){
				$container.trigger('update');
			});

		});

