extends ../layout.html

block content
	h2 #{entity.name}
	p
		label Description:
		|#{entity.description}
	p
		label Status:
		|#{entity.status}

	div#comments

	script
		$('#comments').on('update',function(){
			$.pjax({
				url: location.href.match(/\/entities\/[\w]+/)[0]+'/comments/',
				container: '#comments'
				});
			});
		$('#comments').trigger('update');