form {
	margin: 5px;
}

.comments-form {
	background-color: rgba(255, 255, 255, 0);
}

.comments-form textarea {
	background-color: rgba(255, 255, 255, 0);
}

.button_to {
	display: inline-block;
}

.comments-body {
	/*height: 170px;*/
	overflow-y: hidden;
}

.entity.thumbnail {
	/*max-height: 280px;*/
	width: 30%;
	margin: 10px;
	float: left;
}

.alert-danger, .alert-error {
	background-color: #AD1D28;
}

.alert, .alert-block {
	background-color: #DEBB27;
}

.alert-danger .comment-text, .alert-error .comment-text {
	color: white;
}

/*fix for close button in alerted thumbnail*/
.alert .close {
	position: inherit;
}

.entity-name {
	font-weight: bold;
}

.comment-text {
	padding: 5px;
	font-weight: bold;
}

.comment-text span.text{
	margin: 5px;
}

img.user-picture {
	margin: 5px;
	height: 25px;
}

.entity .dropdown-menu{
	background-color: rgba(255, 255, 255, 0.14);
}
