!!! 5
html
  head
    title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1
    p
      | Welcome aboard! Visit
      a(href='http://locomotivejs.org/') locomotivejs.org
      | for details.
