script(id="commentTemplate", type="text/html")
	div.comment
		span.label.label-info(data-bind="text: author, visible: author")
		span.label.label-success(data-bind="text: created")
		span(data-bind="text: text")