script(id="entityTemplate", type="text/html")
	li.media.entity
		.media-body.thumbnail
			h2.media-heading(data-bind="text: name")
			span.pull-right.label.label-inverse(data-bind="text: status")
			p(data-bind="text: description")
			div.comments(data-bind="template: { name: 'commentTemplate',  foreach: comments}")
			.newComment
				textarea.text
				a.add.btn.btn-mini.btn-success add