extends ../layout.html

block content

	ul.media-list.entities#entities(data-bind="template: { name: 'entityTemplate',  foreach: entities}")

	script(src='/javascripts/lib/knockout.js')
	script(src='/javascripts/mvvc.js')

	include _entity
	include _comment