extends ../layout.html

block content

	div.row-fluid
		div.entities.thumbnails
			//- each entity in entities
			//- 	div.span4
			//- 		div.entity

	script(src='/javascripts/lib/knockout.js')
	script(src='/javascripts/mvvc.js')
