!!! 5
html
	head
		script(src='/javascripts/lib/jquery.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/javascripts/lib/pjax.js')
		script(src='/javascripts/lib/masonry.js')
		script(src='/javascripts/layout.js')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.container-fluid
			div.row-fluid
				div.span12
					h1
						a(href='/entities') Entities
						a.btn.btn-primary(href='/entities/new') New
					block content