!!! 5
html
	head
		script(src='/javascripts/lib/jquery.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/javascripts/lib/pjax.js')
		script(src='/javascripts/lib/masonry.js')
		script(src='/javascripts/layout.js')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.container-fluid
			div.row-fluid
				div.span12
					div.row-fluid
						div.span12.nav-header
							div.span9.btn-group
								a.btn.btn-primary(href='/entities')
									i.icon-home
								a.btn(href='/entities/new') New
							div.span3
								include _login

					block content